.loader{
	font-family: 'ZCODL Kuaile',cursive;
	font-size: 40px;
	color: palevioletred;
}
.loader::after{
	content: "\2026";
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	animation: dots steps(4,end) 2s infinite;
	width: 0px;
}
@keyframes dots{
	to{
		width: 1.25em;
	}
}




/* reset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.hero_area1{
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	line-height: 1.6;
	background-image: url(../images/hero-bg.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
/* main */
.main1{
	text-align: center;
	width: 90%;
	display: none;
	opacity:0;
	transition: opacity 1s ease-in;
}
.main1 h1{
	font-size: 50px;
	margin-bottom: 10px;
}
.main1 p{
	font-size: 25px;
	color: #333;
}
.btn1{
	display: inline-block;
	background:purple;
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 15px;
}
.btn1:hover{
	opacity: 0.9;
}
